# DirectoryIndex file3.html


# Redirect /apache/redirect-test /apache
# URLで/apache/redirect-testを指定すると/apacheに転送する
# 転送後、DirectoryIndex file3.htmlの処理が走りfile3.htmlの処理が実行される

# Redirect 301 /apache/file1 /apache/dir-test/file1.html

# 302はサーバーの設定が即時反映されるが
# 301は設定を変更してもキャッシュの情報などからredirect先の情報を取ってくる

# RewriteEngine on
# RewriteRule rewrite-test/index.html /apache/rewrite-test/tmp.html
# redirectの時と違いサーバー側で擬似的に処理をするのでクライアント側でURLが変わることはない
# RewriteBase /apache/rewrite-test/
# 以下の記載をする場合、/apache/rewrite-test/のパスの記載を省略する
# RewriteRule rewrite-test/imgs/150.jpg imgs/150.png
# /apache/rewrite-test/imgs/150.pngと記述するとこをRewriteBaseで省略している
# RewriteRule rewrite-test/sub1 /apache/rewrite-test/sub2/

# RewriteRule rewrite-test/sub1/(.+\.html) /apache/rewrite-test/sub2/$1
# RewriteRule rewrite-test/imgs/(\d{3}).jpg imgs/$1.png
# ()で後方参照を行い、(\d{3})で数値3文字と指定、$1で表現している

# RewriteCond %{HTTP_HOST} ^localhost
# HTTP_HOSTで参照した値が前方一致でlocalhostと正しいか見ている
# RewriteRule rewrite-test/imgs/(\d{3}).jpg imgs/$1.png

# RewriteCond %{QUERY_STRING} p=(.+)
# RewriteRule rewrite-test/sub1 sub1/%1?

# .htmlで来たリクエストを同じファイル名のphpに転送する
# RewriteBase /apache/
# RewriteRule /?(.+)\.html$ $1.php
# .html$でhtmlで終わる場合と指定している、$がない場合はhtml移行が続いても一致する

# AddType image/webp .webp
# RewriteCond /Applications/MAMP/htdocs/PHP/PHP-Practice/070_Apacheの基礎/rewrite-test/imgs/$1.webp -f
# RewriteRule /?imgs/(.*)\.(jpe?g|png) imgs/$1.webp

# www.dev.localでリクエストが来た場合、dev.localで返す
# RewriteCond %{HTTP_HOST} ^www\.dev\.local
# RewriteRule .? http://dev.local%{REQUEST_URI} [R=301]


# RewriteCond %{HTTP_HOST} ^vhost\.dev\.local [NC]
# RewriteCond %{REQUEST_URI} !^/apache/rewrite-test/vhost/
# RewriteRule (.*) vhost/$1

# <IfModule mod_deflate.c>
#     AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript
#     # AddOutputFilterByType以降に記載のあるファイル形式がリクエストされた場合、gzipで返却する
# </IfModule>

# INode、更新日時、ファイルサイズを使用
# FileETag All

<IfModule mod_expires.c>
  ExpiresActive On
  <FilesMatch "\.(png|jpe?g|gif|css|js|html)$">
    ExpiresDefault "access plus 2 week"
    # accessはアクセスからの日数、modificationは更新してからの日数
    # キャッシュの期間は長めに設定するのが基本だが、キャッシュが効いているとファイルの編集が反映されないケースがある
    # だからファイル名を変更することで新しいコンテンツとして取りに来るようにする
    # main.js?v2→main.js?v3のように
  </FilesMatch>
</IfModule>